@model IEnumerable<Assignment3.Web.Models.Pagamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHeaderSlim.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPagamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPagamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PagamentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PagamentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PagamentoId })
        </td>
    </tr>
}

</table>
