@model Assignment3.Web.Models.Pagamento

@{
    ViewBag.Title = "RealizarPagamento";
    Layout = "~/Views/Shared/_LayoutHeaderSlim.cshtml";
}




<div class="container">
    <h2>Realizar Pagamento</h2>

    <div>
        <h4>Pagamento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Sobrenome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Sobrenome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cliente.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Telefone)
            </dd>

        </dl>
    </div>

    <div class="text-center">
                
        <a href="http://mpago.la/Se9h" class="btn btn-default btn-raised btn-lg" target="_blank" >
            Realizar Pagamento
        </a>
        
    </div>

    <br /><br />

    <p>
        <a href="@Url.Action("Edit", "Cliente",new { id = Model.Cliente.ClienteId })">Voltar para cadastro</a>
    </p>
</div>
