@model Assignment3.Web.Models.Cotacao

@{
    ViewBag.Title = "ConsultaCotacao";
    Layout = "~/Views/Shared/_LayoutHeaderSlim.cshtml";
}


<div class="container">

    @if (ViewBag.MensagemStatus != null)
    {
        <div class="alert alert-info" role="alert">
            <span> @ViewBag.MensagemStatus </span>
        </div>
    }
    else
    {

        <div>
            <h4>Detalhes da Cotação</h4>
            <hr />

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Solicitante.Nome)
                        </dt>
                        <dd>
                            @string.Format("{0} {1}", @Html.DisplayFor(model => model.Solicitante.Nome), @Html.DisplayFor(model => model.Solicitante.Sobrenome))
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DataSolicitacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataSolicitacao)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DataValidade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataValidade)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DescricaoSolicitacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DescricaoSolicitacao)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ComentariosGerais)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ComentariosGerais)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TipoCotacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TipoCotacao)
                        </dd>
                    </dl>
                </div>
            </div>


            @if (Model.TipoCotacao == Assignment3.Web.Models.TipoCotacao.CotacaoAutomovel && Model.ItensAutomovel != null && Model.ItensAutomovel.Count > 0)
            {
                <h4>Comparativo</h4>
                <div class="panel panel-default">
                    <div class="panel-body">


                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@Html.LabelFor(model => model.ItensAutomovel[0].NomeSeguradora)</th>
                                        <th>@Html.LabelFor(model => model.ItensAutomovel[0].ValorFranquia)</th>
                                        <th>@Html.LabelFor(model => model.ItensAutomovel[0].ValorPremio)</th>
                                        <th>@Html.LabelFor(model => model.ItensAutomovel[0].LinkCotacao)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ItensAutomovel)
                                    {
                                        <tr>
                                            <td> @item.NomeSeguradora </td>
                                            <td> @item.ValorFranquia </td>
                                            <td> @item.ValorPremio </td>
                                            <td> <a href="@item.LinkCotacao" target="_blank">@item.LinkCotacao</a> </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            }

            @if (Model.TipoCotacao == Assignment3.Web.Models.TipoCotacao.CotacaoImovel && Model.ItensImovel != null && Model.ItensImovel.Count > 0)
            {
                <h4>Comparativo</h4>
                <div class="panel panel-default">
                    <div class="panel-body">


                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].TipoImovel)</th>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].Bairro)</th>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].Cidade)</th>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].Metragem)</th>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].QuantidadeQuartos)</th>
                                        <th>@Html.LabelFor(model => model.ItensImovel[0].Valor)</th>
                                        <th>@Html.LabelFor(model => model.ItensAutomovel[0].LinkCotacao)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ItensImovel)
                                    {
                                        <tr>
                                            <td> @item.TipoImovel </td>
                                            <td> @item.Bairro</td>
                                            <td> @item.Cidade</td>
                                            <td> @item.Metragem</td>
                                            <td> @item.QuantidadeQuartos</td>
                                            <td> @item.Valor</td>
                                            <td> <a href="@item.LinkCotacao" target="_blank">@item.LinkCotacao</a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            }



        </div>

    }
</div>