@model Assignment3.Web.Models.Cotacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHeaderPortal.cshtml";
}

<div class="container">
    <div>
        <h4>Detalhes da Cotação</h4>
        <hr />

        <br />

        <div class="alert alert-info" role="alert">
            <span> Compartilhe esta cotação com seu cliente através do seguinte link: <strong> @string.Format("{0}?id={1}", "http://seguracliente.com.br/Cotacao/ConsultaCotacao", @Model.Solicitante.ChaveIdentificacao) </strong> </span>
        </div>

        <hr />

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Solicitante.Nome)
                    </dt>
                    <dd>
                        @string.Format("{0} {1}", @Html.DisplayFor(model => model.Solicitante.Nome), @Html.DisplayFor(model => model.Solicitante.Sobrenome))
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DataSolicitacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataSolicitacao)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DataValidade)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataValidade)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DescricaoSolicitacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DescricaoSolicitacao)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ComentariosGerais)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ComentariosGerais)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TipoCotacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoCotacao)
                    </dd>
                </dl>
            </div>
        </div>

        
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CotacaoId }) |
        @Html.ActionLink("Voltar", "Index")
    </p>

</div>